.admin-box {
    width: 500px;
    max-width: 90vw;
    margin-bottom: 50px;
}

@media (max-width: 480px) {

    .admin-box {
        width: 350px;
        max-width: 90vw;
        margin-bottom: 50%;
    }
}
