:root {
    --progress-indicator-color: initial;
}

.result-box {
    min-width: 500px;
    margin-bottom: 50px;
}

@media (max-width: 480px) {

    .result-box {
        min-width: 350px;
        margin-bottom: 50%;
    }
}

.quiz-title {
    font-family: Publico Headline, Georgia Times, Times New Roman, serif;
}

.badge-button:hover {
    color: white;
    background: var(--gray-6);
}

.badge-button:active {
    background: var(--gray-4);
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
    border: 0.2rem solid var(--gray-6);
    color: var(--gray-12);
    border-radius: 0.5rem;

}

.rt-ProgressRoot .rt-ProgressIndicator {
    background-color: var(--progress-indicator-color, var(--accent-9));
}
