:root {
    --progress-indicator-color: initial;
}

.result-box {
    min-width: 500px;
    margin-bottom: 50px;
}

@media (max-width: 480px) {

    .result-box {
        min-width: 350px;
        margin-bottom: 50%;
    }
}

.badge-button:hover {
    color: white;
    background: var(--gray-6);
}

.badge-button:active {
    background: var(--gray-4);
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
    border: 0.2rem solid var(--gray-6);
    color: var(--gray-12);
    border-radius: 0.5rem;

}

.rt-ProgressRoot .rt-ProgressIndicator {
    background-color: var(--progress-indicator-color, var(--accent-9));
}

.tooltip-content {
    background-color: black;
    color: white;
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 12px;
    box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35), 0 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.tooltip-arrow {
    fill: black;
}
